@model E_Tutoring_Greame.Models.LoginModel

@{
    ViewData["Title"] = "Login Page";
}

    <body>

    <div id="userprompt">
      <div class="qstd m">
        <p>Enter a name to keep track of your progress!</p>
        <form asp-action="NextPage">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="flex">
                <p class = "qst up1">Username:</p>
                <input asp-for="Username" class="form-control" />
                <input type="submit" value="Go!" class="btn btn-primary" />
            </div>
        </form>
      </div>
      <button id="teach" class="btnbl">I Am a Teacher</button>
    </div>

    <script src="lzstring.js"></script>
    <script src="main.js"></script>
    <script src="index.js"></script>
  </body>
