@model E_Tutoring_Greame.Models.LoginModel

@{
    ViewData["Title"] = "Login Homie";
}

<h4>Sign up</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div><p style="color: red;">Invalid Username or Password</p></div>
    </div>
</div>